.DS_Store
fb_bot_profile/
ฐานข้อมูลอสังหา_Facebook/
node_modules/
config.json
.bash_history
.DS_Store
*.pyc
.next/
dist/
build/
Facebook_Property_Data/
temp_*/
ghost_history.log
Facebook_Property_Data/
